
bin/Debug/Battleship.exe
bin/Debug/Battleship.exe.config
bin/Debug/Battleship.pdb
obj/Debug/Battleship.FormMain.resources
obj/Debug/Battleship.csproj.FileListAbsolute.txt
obj/Debug/Battleship.csproj.GenerateResource.cache
obj/Debug/Battleship.csprojAssemblyReference.cache
obj/Debug/Battleship.exe
obj/Debug/Battleship.pdb
obj/Debug/Battleship.Properties.Resources.resources
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
